<div class="tabhouse-1">
  <span class="select-white sel-line">Find Friends</span>
   -
   <span class="select-white">Your Friends</span>
   -
   <span class="select-white">Invite Friends</span>

 </div>

 <div class="base-1">

<div class="bcol-one">

<div class="friend-deck">
Shuffle Friend Deck
</div>

<div class="ban-history">History</div>
<div class="h-history">

<div class="his-item"></div>
<div class="his-item"></div>
<div class="his-item"></div>
<div class="his-item"></div>
<div class="his-item"></div>
<div class="his-item"></div>
<div class="his-item"></div>
<div class="his-item"></div>
<div class="his-item"></div>
<div class="his-item"></div>
<div class="his-item"></div>


</div>

</div>
<div class="bcol-two">

<div class="add-friend">Add Friend</div>

</div>
</div>


<!-- <div class="fh-1">Organize your friends by dragging and dropping them into the correct catagory, click on a profile to view it.<br>
  <div class="fb-one">
  New Friends
  </div>
  <div class="fb-one">
  Best Friends
  </div>
  <div class="fb-one">
  Old Friends
  </div>
  <div class="fb-one">
  Aquaintences &#10003;
  </div>

</div>

<div class="fh-2">
<div class="fb-one">
New Friends
</div>
<div class="fb-one">
Best Friends
</div>
<div class="fb-one">
Old Friends
</div>
<div class="fb-one">
Aquaintences &#10003;
</div>
</div>

<div class="fh-3">
  <img src="assets/usericon.png" style="width: 100%" >
  <div class="f3-bio"> </div>
</div> -->
