<div class="tabhouse-1">
  <span onclick="fb1()" id="f-tab-1" class="f-tab-1 select-white sel-line">Your Friends</span>
   -
   <span onclick="fb2()" id="f-tab-2" class="f-tab-2 select-white">Find Friends</span>
   -
   <span onclick="fb3()" id="f-tab-3" class="f-tab-3 select-white">Invite Friends</span>

 </div>

 <div class="base-1" id="f-base-1">

<div class="head-b1">
  Organize your friends by dragging and dropping them into the correct catagory, click on a profile to view it.
  </div>

   <div class="fh-1">
     <div class="fb-one">
     New Friends
     </div>
     <div class="fb-one">
     Best Friends
     </div>
     <div class="fb-one">
     Old Friends
     </div>
     <div class="fb-one">
     Aquaintences &#10003;
     </div>

<div class="flistcol">
  <div style="height: 5px;"></div>
<div class="flitem"></div>
<div class="flitem"></div>
  <div class="flitem"></div>
  <div class="flitem"></div>
  <div class="flitem"></div>
  <div class="flitem"></div>
  <div class="flitem"></div>
</div>

   </div>

   <div class="fh-2">
   <div class="fb-one">
   New Friends
   </div>
   <div class="fb-one">
   Best Friends
   </div>
   <div class="fb-one">
   Old Friends
   </div>
   <div class="fb-one">
   Aquaintences &#10003;
   </div>

   <div class="flistcol">
     <div style="height: 5px;"></div>

   <div class="flitem"></div>
   <div class="flitem"></div>
     <div class="flitem"></div>
     <div class="flitem"></div>
     <div class="flitem"></div>
     <div class="flitem"></div>
     <div class="flitem"></div>

   </div>

   </div>

   <div class="fh-3">

     <div id="wrapper-pic">

     <div onclick="fviewbio()" class="hov-bio">BIO</div>
     <img src="assets/usericon.png" style="width: 100%" >
<div style="text-align: center">|| &larr; &rarr; ||</div>

</div>
<div id="wrapper-bio" style="display: none">

<div onclick="fviewpic()" class="hov-pic">PIC</div>
<div class="f3-bio"><span style="font-size: 1.2rem;">&nbsp; &nbsp; &nbsp; &nbsp; First Last</span><br><br>
My bio goes here. Thanks for asking about it.  My bio goes here. Thanks for asking about it.
My bio goes here. Thanks for asking about it.  My bio goes here. Thanks for asking about it.
My bio goes here. Thanks for asking about it. My bio goes here. Thanks for asking about it.
My bio goes here. Thanks for asking about it.  My bio goes here. Thanks for asking about it.
My bio goes here. Thanks for asking about it.  My bio goes here. Thanks for asking about it.
My bio goes here. Thanks for asking about it. My bio goes here. Thanks for asking about it.
My bio goes here. Thanks for asking about it.  My bio goes here. Thanks for asking about it.
My bio goes here. Thanks for asking about it.  My bio goes here. Thanks for asking about it.
My bio goes here. Thanks for asking about it. My bio goes here. Thanks for asking about it.
My bio goes here. Thanks for asking about it.  My bio goes here. Thanks for asking about it.
My bio goes here. Thanks for asking about it.  My bio goes here. Thanks for asking about it.
My bio goes here. Thanks for asking about it. My bio goes here. Thanks for asking about it.
 </div>


</div>
      <div class="f3-chat"></div>
      <div class="f3-type">
        <input class="dm-input" placeholder="Type to chat..">
        &nbsp;
        <button class="dm-go">SEND</button>
      </div>
   </div>

 </div>

 <div class="base-2" id="f-base-2">

<div class="bcol-one">

<div class="friend-deck">
Shuffle Friend Deck
</div>

<div class="ban-history">History</div>
<div class="h-history">

<div class="his-item"></div>
<div class="his-item"></div>
<div class="his-item"></div>
<div class="his-item"></div>
<div class="his-item"></div>
<div class="his-item"></div>
<div class="his-item"></div>
<div class="his-item"></div>
<div class="his-item"></div>
<div class="his-item"></div>
<div class="his-item"></div>


</div>

</div>
<div class="bcol-two">

<div class="add-friend">Add Friend</div>

</div>
</div>

 <div class="base-3" id="f-base-3">base 3</div>


<!-- <div class="fh-1">Organize your friends by dragging and dropping them into the correct catagory, click on a profile to view it.<br>
  <div class="fb-one">
  New Friends
  </div>
  <div class="fb-one">
  Best Friends
  </div>
  <div class="fb-one">
  Old Friends
  </div>
  <div class="fb-one">
  Aquaintences &#10003;
  </div>

</div>

<div class="fh-2">
<div class="fb-one">
New Friends
</div>
<div class="fb-one">
Best Friends
</div>
<div class="fb-one">
Old Friends
</div>
<div class="fb-one">
Aquaintences &#10003;
</div>
</div>

<div class="fh-3">
  <img src="assets/usericon.png" style="width: 100%" >
  <div class="f3-bio"> </div>
</div> -->
