<div class="cap">Post</div>
<a [routerLink]='["../main"]'><div class="capx" onclick="x()">&nbsp;X</div></a>

<div class="content">

  <span id="postxa">
    Where do you want to post?<br><br>

  <font onclick="postxb()"><input type="radio"> - San Francisco</font><br>
  <font onclick="postxb()"><input type="radio"> - Silicon Valley (South Bay)</font><br>

  </span>

  <span id="postxb" style="display:none;">
    What type of posting is it?<br><br>

    - Job Offered <br>
    - Gig Offered <br>

  </span>






</div>
