<div class="social-head2">
&nbsp; &nbsp; &nbsp; &nbsp; Gig University
<a onclick="x3()"><div class="social-head-x">X</div></a>
</div>

<div class="house">

<br><br>
<div class="centered">
<div class="ab-write">Write Curriculum</div>
<div class="ab-price">~40/hr</div>
React JS Certification<br>
<br>
<div class="centered-text">Complete the 'React.JS' curriculum provided by a PRO for a leetlist badge. </div>
<div class="soon">Curriculum Coming Soon</div>
</div>

<div class="centered">
  <div class="ab-write">Write Curriculum</div>
  <div class="ab-price">~50/hr</div>
AWS/Lambda Certification<br>
<br>
<div class="centered-text">Complete the 'AWS.Lambda' curriculum provided by a PRO for a leetlist badge. </div>
<div class="soon">Curriculum Coming Soon</div>
</div>

<div class="centered">
  <div class="ab-write">Write Curriculum</div>
  <div class="ab-price">~40/hr</div>
Final Cut Pro Certification<br>
<br>
<div class="centered-text">Complete the 'Final Cut Pro' curriculum provided by a PRO for a leetlist badge. </div>
<div class="soon">Curriculum Coming Soon</div>
</div>

<div class="centered">
  <div class="ab-write">Write Curriculum</div>
  <div class="ab-price">~30/hr</div>
Digital Marketing Certification<br>
<br>
<div class="centered-text">Complete the 'Digital Marketing' curriculum provided by a PRO for a leetlist badge. </div>
<div class="soon">Curriculum Coming Soon</div>
</div>

<div class="centered">
  <div class="ab-write">Write Curriculum</div>
  <div class="ab-price">~120/hr</div>
Deep Learning AI Certification<br>
<br>
<div class="centered-text">Complete the 'AI' curriculum provided by a PRO for a leetlist badge. </div>
<div class="soon">Curriculum Coming Soon</div>
</div>

<div class="centered">
  <div class="ab-write">Write Curriculum</div>
  <div class="ab-price">~80/hr</div>
Robotics Certification<br>
<br>
<div class="centered-text">Complete the 'Robotics' curriculum provided by a PRO for a leetlist badge. </div>
<div class="soon">Curriculum Coming Soon</div>
</div>

<div class="centered">
  <div class="ab-write">Write Curriculum</div>
  <div class="ab-price">~50/hr</div>
Virtual Reality Certification<br>
<br>
<div class="centered-text">Complete the 'VR' curriculum provided by a PRO for a leetlist badge. </div>
<div class="soon">Curriculum Coming Soon</div>
</div>

</div>
