<div id="home">
<div id="core">

  <div id="route-2">
    <div class="social-head2">
&nbsp; &nbsp; &nbsp; &nbsp; Social Profile
<a onclick="x2()"><div class="social-head-x">X</div></a>
   </div>

<router-outlet name="social"></router-outlet>

    </div>

    <div id="popup">

  <router-outlet name="pop"></router-outlet>
      </div>

  <div id="route">

<router-outlet></router-outlet>

    </div>


  <div class="col-one">

<div class="item-one">
  <div class="social-profile">
  <img src="assets/usericon.png" width="80" >
  <br>Social Profile
  </div>
  <div class="social-profile-line">
    <a onclick="open2()" class="pf-line" [routerLink]='[{ outlets: { social: ["friends"] } }]'>Friends</a>
    <br><br><a onclick="open2()" class="pf-line" [routerLink]='[{ outlets: { social: ["photos"] } }]'>Photos</a>
    <br><br><a onclick="open2()" class="pf-line"  [routerLink]='[{ outlets: { social: ["rating"] } }]'>Rating & Reviews</a>
    <br><br></div>

</div>


<div class="item-two">
<div class="item-head">Community</div>
<div class="item-obj">Dates</div>
<div class="item-obj">Find Friends</div>
<div class="item-obj">Guides</div>
<div class="item-obj">Mentors</div>
<div class="item-obj">Karma</div>
<!-- <div class="item-obj">News/Podcast</div> -->
<div class="bar-obj">Community Bar</div>

</div>


<div class="item-two">
  <div class="item-head">Events</div>
  <div class="item-obj">Concerts</div>
  <div class="item-obj">Parties</div>
  <div class="item-obj">Classes</div>
  <!-- <div class="item-obj">Rendevus</div> -->
  <div class="bar-obj">Grass Bar</div>

</div>

</div><!---END COL ONE --->

<div class="col-two">

  <div class="item-two">
    <div class="item-head">For Sale</div>
    <div class="item-obj">Art</div>
    <div class="item-obj">Health*</div>
    <div class="item-obj">Clothes</div>
    <div class="item-obj">Furniture</div>
    <div class="item-obj">Gadgets</div>
    <div class="item-obj">Tickets</div>
    <div class="item-obj">Vehicles</div>
    <div class="item-obj">Home Cooking</div>
    <div class="item-obj">Other</div>

    <!-- <div class="bar-obj">Shops</div> -->
    <div class="bar-obj">Shops</div>
    <div class="bar-obj2">Work Delivery</div>
  </div>

  <div class="item-two">
    <div class="item-head">Services</div>
    <div class="item-obj">Handy</div>
    <div class="item-obj">Beauty</div>
    <div class="item-obj">Creative</div>
    <div class="item-obj">Event</div>
    <div class="item-obj">Decorative</div>
    <div class="item-obj">Financial</div>
    <div class="item-obj">Home</div>
    <div class="item-obj">Labor/Move</div>
    <div class="item-obj">Legal</div>
    <div class="item-obj">Lessons</div>
    <div class="item-obj">Pet</div>
    <div class="item-obj">Real Estate</div>
    <div class="item-obj">Writing</div>
  </div>

</div>

<div class="col-three">

<div class="spacer"></div>

  <div class="item-two">
    <div class="item-head">Housing</div>
    <div class="item-obj">For Rent</div>
    <div class="item-obj">For Sale</div>
    <div class="item-obj">Vacation Stays</div>
    <div class="item-obj">Rent Rooms</div>

    <a style="color:white" onclick="open3()" [routerLink]='[{ outlets: { pop: ["rbar"] } }]'>
      <div class="bar-obj">Roommate Bar</div>
    </a>
  </div>

  <div class="item-two">
    <div class="item-head">Gigs</div>
    <div class="item-obj gold">computer</div>
    <div class="item-obj out">creative</div>
    <div class="item-obj out">domestic</div>
    <div class="item-obj out">event</div>
    <div class="item-obj">labor</div>
    <div class="item-obj">talent</div>
    <div class="item-obj out">writing</div>

    <a style="color:white" onclick="open3()" [routerLink]='[{ outlets: { pop: ["gigu"] } }]'>
      <div class="bar-obj3">Gig University</div>
      </a>
  </div>

  <div class="item-two out">
    <div class="item-head">Jobs</div>
    <div class="item-obj">Tech</div>
    <div class="item-obj">Medical</div>
    <div class="item-obj">Legal</div>
    <div class="item-obj">Government</div>
    <div class="item-obj">Financial</div>
  </div>


</div>

</div>
</div>
